
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}


.card {
  background-color: rgb(177, 177, 177);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h2 {
  font-size:2.5rem;
  margin: 1rem 1rem 0.5rem;

}
.card h3 {
  font-size:0.95rem;
  margin: 1rem 1rem 0.5rem;
}

.card p {
  font-size: 0.9rem;
  color: #000000;
  margin: 0 1rem 1rem;
  flex-grow: 1;
}

.card button {
  background-color: #000000;
  color: white;
  border: none;
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #000000;
}


#gameDetail {
  max-width: 800px;
  margin: 3rem auto;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 2rem;
}

.search-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#searchInput {
  width: 60%;
  max-width: 400px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 1rem;
  transition: 0.3s;
}


.favorites-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  border-radius: 25px;
  background: linear-gradient(135deg, #f8f6f6, #ffffff);
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.favorites-link:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(168, 85, 247, 0.4);
}

.favorites-link .icon {
  font-size: 1.2rem;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

